@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../resources/fonts/MyriadProRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../resources/fonts/RobotoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../resources/fonts/RobotoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../resources/fonts/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../resources/fonts/LatoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*     header     */


header {
	position: relative;
	z-index: 10000;
	width: 100%;
	height: 5.625vw;
	line-height: 7.125vw;
	box-shadow: 0 0 1.25vw .125vw rgba(0, 0, 0, 0.18);
	background: #ffffff;
}

header.fixed {
	height: 4.5vw;
	line-height: 6vw;
	position: fixed;
	top: 0;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.8);

}

header .site-logo {
	display: inline-block;
	margin-left: 14.25vw;
	margin-right: 54vw;

	/* Отмена выделения логотипа */
    -webkit-user-select: none;
   	   -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

header .site-logo img {
	width: 8.125vw;
	height: 2.1875vw;
}

header .menu-btn {
	display: inline-block;
	width: 2.5vw;
	height: 2vw;
	cursor: pointer;
	opacity: 1;
	transition: all .5s;
	transform: scaleX(-1);
	transform-origin: center right;
}

header.fixed .menu-btn {
	margin-top: 1.35vw;
}

header .menu-btn-active {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: left center;
}

header .menu-lock {
	display: none;
	position: absolute;
	right: 18.9375vw;
	top: 1.95vw;
	width: 2.5vw;
	height: 2vw;
}

header .menu-lock-active {
	display: block;
}

header .menu-btn span {
	margin: .35vw 0 0 .21vw;
}

header .menu-btn span,
header .menu-btn span:before,
header .menu-btn span:after {
	display: block;
	height: .1875vw;
	width: 2vw;
	background: #777777;
	border-radius: 15%;
	position: absolute;
}

header .menu-btn span:before,
header .menu-btn span:after {
	content: '';
	top: .5vw;
}

header .menu-btn span:after {
	top: 1vw;
}

header .menu-btn:hover span,
header .menu-btn:hover span:before,
header .menu-btn:hover span:after {
	background: #06060a;
}

header .menu {
	position: absolute;
	transition: .7s;
	transform: scaleX(0);
	transform-origin: right center;
	right: 22.4375vw;
	top: 2.25vw;
	line-height: 1;
}

header.fixed .menu {
	top: 1.75vw;
}

header .menu-active {
	transform: scaleX(1);
}

header .menu .close {
	display: inline-block;
	position: absolute;
	width: 1.75vw;
	height: 1.25vw;
	cursor: pointer;
}

header .menu .close span {
	display: block;
	width: 1.25vw;
	height: .0625vw;
	margin: .52vw 0 0 .1vw;
	background: #777777;
}

header .menu .close:hover span {
	background: #06060a;
}

header .menu li {
	display: inline-block;
	margin: 0 1.40625vw 0 1.40625vw;
}

header .menu li:first-of-type {
	margin-left: 2.815vw;
}

header .menu a {
	text-transform: uppercase;
	font-family: Myriad Pro Regular;
	font-weight: bold;
	font-size: 1vw;
}

header .menu a:hover,
header .menu a:focus {
	color: #333333;
}

header .search-widget {
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
	position: absolute;
	right: 14.375vw;
	top: 2.25vw;
	line-height: 1;
}

header.fixed .search-widget {
	top: 1.75vw;
}

header .search-widget:hover svg {
	fill: #06060a;
}


/*     main-banner     */


.main-photoslider {
	text-align: center;
}

.main-photoslider .main-photoslider-slide {
	height: calc(100vh - 5.625vw);
	-ms-background-position: 50% 50%;
    	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

header.fixed + .main-photoslider .main-photoslider-slide,
header.fixed + .about-banner {
	margin-top: 5vw;
} 

.main-photoslider .slick-arrow {
	z-index: 9;
	border-radius: 50%;
	border: .0925vw solid #fdfdfd;
	width: 2.625vw;
	height: 2.625vw;
	transition: all .35s linear;
}

.main-photoslider .slick-prev {
	left: 7vw;
}

.main-photoslider .slick-next {
	right: 7vw;
}

.main-photoslider .slick-arrow:before {
	content: '';
	display: block;
	position: absolute;
	width: .8125vw;
	height: .8125vw;
}

.main-photoslider .slick-prev:before {
	border-top: .0925vw solid #fdfdfd;
	border-left: .0925vw solid #fdfdfd;
	transform: rotate(-45deg);
	right: .595vw;
	bottom: .745vw;
}

.main-photoslider .slick-next:before {
	border-top: .0925vw solid #fdfdfd;
	border-right: .0925vw solid #fdfdfd;
	transform: rotate(45deg);
	left: .595vw;
	bottom: .745vw;
}

.main-photoslider .slick-arrow:hover {
	border-color: #000000;
	background: #000000;
	transition: all .35s linear;
}

.main-photoslider .slick-dots {
	bottom: 3.5vw;
}

.main-photoslider.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.main-photoslider .slick-dots li {
	margin: 0 .5vw;
}

.main-photoslider .slick-dots li button {
	padding: 0;
}

.main-photoslider .slick-dots li button:before {
	display: block;
	position: relative;
	margin: 0 auto;
	width: .875vw;
	height: .875vw;
	line-height: .95vw;
	border-radius: 50%;
	background: #ffffff;
	color: #ffffff;
	opacity: 1;
	transition: all .35s linear;
}

.main-photoslider .slick-dots li button:hover:before,
.main-photoslider .slick-dots li.slick-active button:before {
	background: #000000;
	color: #ffffff;
	opacity: 1;
	transition: all .35s linear;
}

.main-photoslider h1 {
	display: inline-block;
	font-family: Roboto Light;
	font-size: 2.75vw;
	font-weight: normal;
	letter-spacing: .6875vw;
	padding: 0 2.25vw 0 2.9375vw;
	margin-top: 14.4375vw;
	color: #ffffff;
	background: #000000;
	text-transform: uppercase;
	max-width: 56.25vw;
}

.main-photoslider span {
	display: block;
	font-family: Roboto Light;
	font-size: 1.125vw;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: .575vw;
	margin: 2.375vw auto;
	max-width: 56.25vw;
}


/*     main-gallery     */


.main-gallery {
	width: 71.25vw;
	margin: 0 auto;
	padding: 2.0625vw 0 6.875vw 0; 
}

.main-gallery .category-list {
	display: block;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	text-align: center;
	padding: 1.325vw 0 1.325vw 0; 

	-webkit-user-select: none;
   	   -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-gallery .category-list li {
	display: inline-block;
	font-family: Roboto Bold;
	font-size: .9vw;
	text-transform: uppercase;
	margin-left: 2.4vw; 
}

.main-gallery .category-list a:hover,
.main-gallery .category-list a.active {
	color: #000000;
}

.main-gallery .category-list li:after {
	display: inline-block;
	position: absolute;
	content: '/';
	margin: -0.3vw 0 0 1.125vw;
	font-family: Roboto Light;
	font-size: 1.4vw;
	color: #d9d9d9;
}

.main-gallery .category-list li:last-child:after {
	content: '';
}

.main-gallery .photos {
	margin: 1.8125vw 0 0 0;
}

.main-gallery .photos .gutter-sizer {
	width: 1.875vw;
}

.main-gallery .photos img {
	width: 22.5vw;
	margin: 0 0 1.875vw 0;
}


/*     footer     */


footer {
	width: 100%;
	height: 18.75vw;
	box-shadow: -1vw 0 1.25vw .125vw rgba(0, 0, 0, 0.18);
	background: #ffffff;
}

footer .site-logo {
	text-align: center;

	-webkit-user-select: none;
   	   -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

footer .site-logo img {
	width: 8.125vw;
	height: 2.1875vw;
	margin: 4vw 0 2.75vw 0;
}

footer .social-networks {
	text-align: center;
	word-spacing: 3.5625vw;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: .875vw 0 .875vw 0;

	-webkit-user-select: none;
   	   -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

footer .social-networks a {
	width: 2vw;
	height: 2vw;
	line-height: 2vw;
	display: inline-block;
}

footer .social-networks a:hover {
	cursor: pointer;
	color: #000000;
}

footer .social-networks a:hover svg {
	fill: #000000;
}

footer .all-rights-reserved {
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto Regular;
	font-size: .8125vw;
	letter-spacing: .01em;
	margin: 2.4125vw 0 0 0;
}

footer .all-rights-reserved span span {
	color: #000000;
}


/*     about-banner     */


.about-banner {
	height: 21.875vw;
	background: linear-gradient(to left, #ffffff, #f0f0f2);
	background-image: url('../resources/img/about/about-banner.png');
	background-repeat: no-repeat;
	-webkit-background-size: auto 30vw;
	background-size: auto 30vw;
	background-position-y: -2vw;
	background-position-x: right;
}

.about-banner h1 {
	display: inline-block;
	font-family: Roboto Light;
	font-size: 2.75vw;
	font-weight: normal;
	letter-spacing: .3875vw;
	padding: 0 1.25vw 0 1.45vw;
	color: #ffffff;
	background: #000000;
	text-transform: uppercase;
	margin: 7.1875vw 0 0 14.25vw;
}

.about-banner span {
	display: block;
	font-family: Myriad Pro Regular;
	font-size: 1.0725vw;
	letter-spacing: .5vw;
	color: #000000;
	text-transform: uppercase;
	margin: 2.75vw 0 0 14.25vw;
}


/*     story & skills     */


.story-skills {
	background: #ffffff;
	padding: 4.5vw 0 0 0;
}

.story-skills .container {
	width: 71.5vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.story-skills .container .image {
	width: 33.1875vw;
	height: 37.5vw;
	background-image: url('../resources/img/about/story-skills.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position-x: -14vw;
}

.story-skills .container .info {
	width: 34.5vw;
}

.story-skills .container .info .desc {
	margin-bottom: 1.7vw;
}

.story-skills .container .info .desc h1,
.story-skills .container .info .pro h1 {
	font-family: Roboto Light;
	font-size: 1.1vw;
	color: black;
	letter-spacing: .625vw;
	text-transform: uppercase;
}

.story-skills .container .info .desc p {
	font-family: Myriad Pro Regular;
	font-size: .9vw;
	line-height: 1.8vw;
	margin-top: 2.7vw;
}

.story-skills .container .info .pro h1 {
	margin-bottom: .3vw;
}

.story-skills .container .info .pro progress {
	display: block;
	width: 34.5vw;
	height: .625vw;
	padding: .25vw .1875vw .25vw .1875vw;
	border: 0 none;
	background: #ebebeb;
}

.story-skills .container .info .pro progress:nth-of-type(1):after,
.story-skills .container .info .pro progress:nth-of-type(2):after,
.story-skills .container .info .pro progress:nth-of-type(3):after,
.story-skills .container .info .pro progress:nth-of-type(4):after {
	content: '•';
	display: block;
	position: absolute;
	width: .75vw;
	height: .75vw;
	border-radius: 50%;
	text-align: center;
	line-height: .75vw;
	background: black;
	color: white;
}

.story-skills .container .info .pro progress:nth-of-type(1):after {
	margin: -0.45vw 0 0 30vw;
}

.story-skills .container .info .pro progress:nth-of-type(2):after {
	margin: -0.45vw 0 0 32vw;
}

.story-skills .container .info .pro progress:nth-of-type(3):after {
	margin: -0.45vw 0 0 17vw;
}

.story-skills .container .info .pro progress:nth-of-type(4):after {
	margin: -0.45vw 0 0 28.5vw;
}

.story-skills .container .info .pro progress::-webkit-progress-bar {
    background: transparent;
}  

.story-skills .container .info .pro progress::-webkit-progress-value {  
	border-radius: 12px;
	background: #a1a1a1;
}

.story-skills .container .info .pro span {
	display: block;
	font-family: Roboto Bold;
	font-size: 1vw;
	color: black;
	margin: 1.0875vw 0 1.0875vw 0;
}

.story-skills .container .info .pro div {
	
	position: absolute;
	z-index: 10;
	width: 2.5vw;
	height: 1.3125vw;
	background: black;
	font-family: Lato Regular;
	font-size: .7125vw;
	line-height: 1.3125vw;
	text-align: center;
	color: #f4f7fc;
	margin-top: -2.2vw;
	transition: all .25s linear;
	transform: scaleX(0);
	transform-origin: left center;
}

.story-skills .container .info .pro:hover div {
	display: block;
	transform: scaleX(1);
}

.story-skills .container .info .pro div:before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	border: .8875vw solid transparent;	
	border-left: .8875vw solid black; 
	border-top: .8875vw solid black;	
}

.story-skills .container .info .pro div:nth-of-type(1) {
	margin-left: 30.6vw;
}

.story-skills .container .info .pro div:nth-of-type(2) {
	margin-left: 32.57vw;
}

.story-skills .container .info .pro div:nth-of-type(3) {
	margin-left: 17.5vw;
}

.story-skills .container .info .pro div:nth-of-type(4) {
	margin-left: 29.04vw;
}


/*     about-team     */


.about-team {
	text-align: center;
	background: #ffffff;
	padding: 6.25vw 0 4.75vw 0;
}

.about-team h1 {
	font-family: Roboto;
	font-size: 1.7vw;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .75vw;
	color: #000000;
}

.about-team span {
	display: block;
	width: 39.1875vw;
	margin: 2.6875vw auto 0;
	font-family: Roboto;
	font-size: .9vw;
	line-height: 1.8vw;
}

.about-team .cast {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 4.375vw auto 0;
	width: 71.5vw;
}

.about-team .cast .s-portfolio {
	width: 22.375vw;
	background: #fcfcfc;
	text-align: left;
}

.about-team .cast .s-portfolio .photo {
	display: block;
	width: 100%;
	height: 27.4375vw;
	background: #eeeeee;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.about-team .cast .s-portfolio:nth-of-type(1) .photo {
	background-image: url('../resources/img/about/team/LianJoy.jpg');
}

.about-team .cast .s-portfolio:nth-of-type(2) .photo {
	background-image: url('../resources/img/about/team/RomanKomarowski.jpg');
}

.about-team .cast .s-portfolio:nth-of-type(3) .photo {
	background-image: url('../resources/img/about/team/JennPereira.jpg');
}

.about-team .cast .s-portfolio .cutaway {
	height: 11.8125vw;
	padding: 2.25vw 2.25vw 0 2.25vw;
	overflow: hidden;
}

.about-team .cast .s-portfolio .cutaway h3 {
	display: inline-block;
	font-family: Roboto Light;
	font-weight: normal;
	font-size: 1.6vw;
	text-transform: uppercase;
	color: black;
}

.about-team .cast .s-portfolio .cutaway span {
	margin: 0;
	font-family: Myriad Pro Regular;
	font-size: 1vw;
	font-weight: bold;
}

.about-team .cast .s-portfolio .cutaway p {
	margin: .7vw 0 0 0;
	font-family: Roboto;
	font-size: .9vw;
	line-height: 1.4vw;
	color: #9c9c9c;
}

.about-team .cast .s-portfolio:hover {
	box-shadow: 0 0 1.25vw .025vw rgba(0, 0, 0, 0.18);
}

.about-team .cast .s-portfolio:hover h3 {
	font-weight: bold;
}

.about-team .cast .s-portfolio:hover span {
	color: black;
}

.about-team .cast .s-portfolio:hover p {
	font-weight: bold;
	color: #777777;
}

