@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../resources/fonts/MyriadProRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #777777;
}


/*     header     */


header {
	position: relative;
	z-index: 10;
	height: 5.625vw;
	box-shadow: 0 0 1.25vw .125vw rgba(0, 0, 0, 0.18);
}

header .logo {
	position: absolute;
	margin: 1.6875vw 0 0 14.25vw;

	/* Отмена выделения логотипа */
    -webkit-user-select: none;
   	   -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

header .logo img {
	width: 8.125vw;
	height: 2.1875vw;
}

header .menu-btn {
	position: relative;
	width: 2.5vw;
	height: 2vw;
	margin: 1.95vw 18.9375vw 0 0;
	cursor: pointer;
	opacity: 1;
	transition: all .5s;
	float: right;
	transform: scaleX(-1);
	transform-origin: center right;
}

header .menu-btn-active {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: left center;
}

header .menu-lock {
	display: none;
	position: absolute;
	right: 18.9375vw;
	top: 1.95vw;
	width: 2.5vw;
	height: 2vw;
}

header .menu-lock-active {
	display: block;
}

header .menu-btn span {
	margin: .35vw 0 0 .21vw;
}

header .menu-btn span,
header .menu-btn span:before,
header .menu-btn span:after {
	display: block;
	height: .1875vw;
	width: 2vw;
	background: #777777;
	border-radius: 15%;
	position: absolute;
}

header .menu-btn span:before,
header .menu-btn span:after {
	content: '';
	top: .5vw;
}

header .menu-btn span:after {
	top: 1vw;
}

header .menu-btn:hover span,
header .menu-btn:hover span:before,
header .menu-btn:hover span:after {
	background: #06060a;
}

header .menu {
	list-style: none;
	position: absolute;
	transition: .7s;
	transform: scaleX(0);
	transform-origin: right center;
	right: 21.4375vw;
	top: 2.25vw;
}

header .menu-active {
	transform: scaleX(1);
}

header .menu .close {
	display: inline-block;
	position: absolute;
	width: 1.75vw;
	height: 1.25vw;
	cursor: pointer;
}

header .menu .close span {
	display: block;
	width: 1.25vw;
	height: .0625vw;
	margin: .52vw 0 0 .1vw;
	background: #777777;
}

header .menu .close:hover span {
	background: #06060a;
}

header .menu li {
	display: inline-block;
	margin: 0 1.40625vw 0 1.40625vw;
}

header .menu li:first-of-type {
	margin-left: 2.815vw;
}

header .menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Myriad Pro Regular;
	font-weight: bold;
	font-size: 1vw;
}

header .menu a:hover,
header .menu a:focus {
	color: #333333;
}

header .search-widget {
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
	position: absolute;
	right: 13.9vw;
	top: 2.25vw;
}

header .search-widget:hover svg {
	fill: #06060a;
}


/*     main-banner     */


.main-photoslider {

}

.main-photoslider .main-photoslider-slide {
	height: calc(100vh - 5.625vw);
	-ms-background-position: 50% 50%;
    	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-photoslider .slick-arrow {
	z-index: 9;
	border-radius: 50%;
	border: .0925vw solid #fdfdfd;
	width: 2.625vw;
	height: 2.625vw;
	transition: all .35s linear;
}

.main-photoslider .slick-prev {
	left: 7vw;
}

.main-photoslider .slick-next {
	right: 7vw;
}

.main-photoslider .slick-arrow:before {
	content: '';
	display: block;
	position: absolute;
	width: .8125vw;
	height: .8125vw;
}

.main-photoslider .slick-prev:before {
	border-top: .0925vw solid #fdfdfd;
	border-left: .0925vw solid #fdfdfd;
	transform: rotate(-45deg);
	right: .595vw;
	bottom: .745vw;
}

.main-photoslider .slick-next:before {
	border-top: .0925vw solid #fdfdfd;
	border-right: .0925vw solid #fdfdfd;
	transform: rotate(45deg);
	left: .595vw;
	bottom: .745vw;
}

.main-photoslider .slick-arrow:hover {
	border-color: #000000;
	background: #000000;
	transition: all .35s linear;
}

.main-photoslider .slick-dots {
	bottom: 3.5vw;
}

.main-photoslider.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.main-photoslider .slick-dots li {
	margin: 0 .5vw;
}

.main-photoslider .slick-dots li button {
	padding: 0;
}

.main-photoslider .slick-dots li button:before {
	display: block;
	position: relative;
	margin: 0 auto;
	width: .875vw;
	height: .875vw;
	line-height: .95vw;
	border-radius: 50%;
	background: #ffffff;
	color: #ffffff;
	opacity: 1;
	transition: all .35s linear;
}
.main-photoslider .slick-dots li button:hover:before,
.main-photoslider .slick-dots li.slick-active button:before {
	background: #000000;
	color: #ffffff;
	opacity: 1;
	transition: all .35s linear;
}