 /* 

	Шаблон расчитан под экраны шириной 1600 пикселей, правило для измерения в vw: (size)/16

 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #777777;
}

body {
	background: #fafafa;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.unactive {
	display: none;
}